
/* The box that contains the "JavaScript deactivated" message. */
#disabledJS {
    text-align: center;
}

/* Darkmode */
body.darktheme {
    background-color: #121212;
    color: white;
}

body.darktheme div {
    background-color: #212121;
}

body.darktheme div.readOnly div {
    background-color: #303030;
}

body.darktheme button {
    background-color: #212121;
    color: white;
}

body.darktheme input {
    background-color: #303030;
    border: 1px solid grey;
}

body.darktheme a, body.darktheme .CodeMirror, body.darktheme svg, body.darktheme input {
    color: white;
}

body.darktheme #editor .cm-string {
    color: white;
}

body.darktheme #editor .cm-label {
    color: #ffcc80;
}

body.darktheme #editor .cm-opcode {
    color: #a5d6a7;
}

body.darktheme #editor .cm-arg {
    color: #90caf9;
}

body.darktheme #editor .CodeMirror-cursor {
    border-left: 1px solid white;
}

body.darktheme #editor.readOnly .CodeMirror-cursor {
    border-left: 1px solid #303030;
}

body.darktheme #editor .currentLine {
    background-color: #212121;
}

/* Light mode */
body.lighttheme div.readOnly div {
    background-color: #efefef;
}

body.lighttheme #editor .cm-label {
    color: #e65100;
}

body.lighttheme #editor .cm-opcode {
    color: #1b5e20;
}

body.lighttheme #editor .cm-arg {
    color: #0d47a1;
}

body.lighttheme #editor .currentLine {
    background-color: lightgrey;
}

/* Font settings.*/
body, input {
    font-family: sans-serif;
    font-size: large;
}

/* The interpreter. */
body {
    margin: 0 auto;
    max-width: 70em;

    margin-top: 20px;
}

button {
    border: 1px solid grey;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

button * {
    margin: 0;
    padding: 5px;
}

#editor {
    max-height: 50vh;
    overflow-y: scroll;
}

.CodeMirror {
    height: max-content!important;
}

.CodeMirror-scroll {
    min-height: 50vh;
}

/* General settings for main boxes. */
#disabledJS, #info, #saves, #options, #message, #editor, #cells, #interpreterControls {    
    border: 1px solid grey;
    margin-bottom: 20px;
}

/* General settings for expandable boxes. */
#info, #options, #saves, #message, #interpreterControls {
    display: flex;
    flex-direction: column;
    
}

/* Control bar */
#interpreterControls.expanded div.wrapper {
    display: flex;
    padding: 0;
    border: none;
}

#interpreterControls div button {
    flex: 1 1 auto;
}

/* Options box */
#options div button {
    border: 2px solid grey;
}

/* Controls box */
#saveControls {
    display: flex;
    flex-wrap: wrap;
}

/* Editor */
#editor {
    border: 2px solid grey;
    margin-bottom: 20px;
}

/* Cells */
#cells {
    border: 1px solid grey;
    margin-bottom: 20px;
}

#cells h2 {
    border: 1px solid grey;
    margin: 0;
    padding: 5px;
}

/* For expandable boxes. */
.content {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.content h4 {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}

.content div {
    display: flex;
    justify-content: flex-end;
    border: 1px solid grey;
    padding: 10px;
}

.content div p {
    margin: 0;
    align-self: center;
}

.closed .wrapper {
    display: none;
}

.expanded .wrapper {
    border: 1px solid grey;
    padding: 10px;
}

/* For the cells. */
.cellsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: flex-end;
    border: 1px solid grey;
    flex: 1 1 calc(calc(100% - 98px) / 8);
    padding: 5px;
    align-items: center;
}

.cell p {
    margin: 0;
}

.cell input {
    width: 0;
    flex: 1 1 auto;
}

/* For the save box. */
.saves {
    justify-content: flex-start!important;
    padding: 0!important;
    border: 0!important;
    flex-wrap: wrap;
    flex-direction: column;
}

.save {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    padding: 0!important;
}

/* Hiding the number input arrows in firefox. */
input[type=number] {
    -moz-appearance:textfield;
  }

/* Hiding the number input arrows for every other browser. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Make less cells per row for smaller screens. */
@media (max-width: 1200px) {
    body {
        max-width: none;
    }

    .cell {
        flex: 1 1 calc(calc(100% - 98px) / 4);
    }
}

@media (max-width: 600px) {
    .cell {
        flex: 1 1 calc(calc(100% - 98px) / 2);
    }
}

@media print {
    * {
        background-color: white!important;
    }
    
    body {
        margin: 0 auto!important;
        max-width: 90vw!important;
        height: auto!important;
    }
    
    #info, #options, #saves, #message, #interpreterControls, #cells {
        display: none;
    }

    #editor {
        height: auto!important;
        overflow: visible!important;
        border: none;
    }

    .CodeMirror {
        height: max-auto!important;
        width: 100%!important;
        overflow: visible!important;
    }
}